<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/static/css/style.css"
    />
    
    <title>Poker online</title>
  </head>
  <body>
    <h1>Koniec gry</h1>
    <h3 id="pot"></h3>

    <h2>Wspólne karty:</h2>
    <ul id="commonCards" class="cards"></ul>

    <h2>Karty graczy:</h2>
    <container id = "summary"> 
    </container>

    <div id="sendForm" class="hidden">
    <button id="send" class="btn">Zatwierdź zwycięzców</button>
    </div>

    <a> Tylko admin może wybrać zwycięzcę. </a>

    <h3 id="errorInfo" class="err"></h3>
    
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="/static/js/socket.js"></script>
    <script src="/static/js/end.js" type="module"></script>

  </body>
</html>
