<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="/static/css/style.css"
    />
    <title>Poker online</title>
</head>
<body>
    <h1 id = "welcome">Witaj ...</h1>
    <h2 id="playersNum"></h2>
    <ul id="players"></ul>
    <form method="POST" id="startButton">
    </form>

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="/static/js/socket.js"></script>
    <script src="/static/js/lobby.js"></script>
    
    <a style="display: block;"> Gracz, który jako pierwszy dołączył do lobby to admin. </a>
    <a style="display: block;"> Jako jedyny może on rozpocząć grę, a także wybrać zwycięzcę. </a>
</body>
</html>
