<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/static/css/style.css"
    />
    <title>Poker online</title>
  </head>
  <body>
    <h1>Poker online</h1>
    <h2 id="infoBox">Oczekiwanie na dane ...</h2>
    <h2>Wpisz swój nickname</h2>

    <input type="text" id="nickname" autofocus />
    <button id="join" class="btn">Dołącz</button>
    <h3 id="playersNum"></h3>

    <h3 id="errorInfo" class="err"></h3>

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="/static/js/socket.js"></script>
    <script src="/static/js/start.js" type="module"></script>
  </body>
</html>
