<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link
      rel="stylesheet"
      href="/static/css/style.css"
    />

    <title>Poker online</title>
  </head>
  <body>
    <h1>Czekaj</h1>
    <h2 id="infoBox" class="info"></h2>

    <h2>Wspólne karty</h2>
    <h2 id="curNick">Trwa runda gracza ...</h3>
    <ul id="commonCards" class="cards"></ul>

    <h2>Twoje karty</h2>
    <ul id="yourCards" class="cards"></ul>

    <h3 id="pot"></h3>
    <h3 id="credits"></h3>

    <h3>Lista graczy:</h3>
    <ul id="players"></ul>

    <h3 id="errorInfo" class="err"></h3>

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="/static/js/socket.js"></script>
    <script src="/static/js/wait.js" type="module"></script>

  </body>
</html>
